* {
  font-family: "Helvetica Neue";
  font-size: 16px;
}

.container {
  width: 960px;
  height: 507px;
  border: solid 1px black;
  background-image: url('./desk.png');
  margin: 0 auto;
  display: flex;
}

.col-alpha {
  width: 50%;
  position: relative;
}

.to-do-form {
  position: absolute;
  right: 0px;
  top: 200px;
}

.to-do-input {
  width: 300px;
}

.col-bravo {
  width: 50%;
  position: relative;
}

.to-do-list {
  position: absolute;
  top: 75px;
  color: #C8110B;
}

h1 {
  font-size: 24px;
}

.add-to-do-button {
  background: blue;
  color: white;
}

.to-do-item {
  font-size: 20px;
  background-color: rgba(255,255,255,0.8);
  list-style: none;
  margin: 10px 0px;
  padding: 3px 0px 3px 5px;
  border-radius: 4px;
}
